.body img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    border-radius:50%;
     
}

.body{
    margin-top: 90px;
    background-color:rgb(246, 240, 240);
    width: 500px;
    margin-left: 50px;
    border-radius: 2%;

}